table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
  }

  .mat-elevation-z8{
    position: relative;
    flex-grow: 1;
  }

  .mat-paginator{
    position: fixed;
    bottom: 0;
    right: 0;
  }